[package]
name = "telemetry-parser"
version = "0.1.2"
authors = ["Adrian <adrian.eddy@gmail.com>"]
edition = "2018"
license = "MPL-2.0"
repository = "https://github.com/AdrianEddy/telemetry-parser"

[dependencies]
mp4parse = { version = "*", git = "https://github.com/mozilla/mp4parse-rust.git", features = ["meta-xml", "unstable-api"] }
byteorder = "1"
pretty-hex = "0.2"
chrono = "0.4"
once_cell = "1"
paste = "1"
prost = "0.8"
serde = { version = "1", features = ["derive"] }
serde_json = { version = "1", features = ["preserve_order"] }
argh = "0.1"
memchr = "2"

quick-xml = { version = "0.22", optional = true }

[features]
sony-xml = ["quick-xml"]

[profile.release]
lto = true
codegen-units = 1
opt-level = 3
# panic = 'abort'
